* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.bold {
    font-weight: bold;
}

.gray {
    color: #4825ba;
}

section {
    padding: 20px;
}

@media (max-width: 768px) {
    section {
        padding: 16px;
    }
}

@media (max-width: 480px) {
    section {
        padding: 12px;
    }
} 