nav {
    height: 70px;
    display: flex;
    padding: 20px 36px;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
    align-items: center;
}

.nav--logo {
    max-width: 100px;
}

.nav--buttons {
    display: flex;
    gap: 10px;
}

.nav--login-button {
    padding: 8px 16px;
    background-color: #FF5A5F;
    color: white;
    border: 2px solid #FF5A5F;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

.nav--signup-button {
    padding: 8px 16px;
    background-color: white;
    color: #FF5A5F;
    border: 2px solid #FF5A5F;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.3s;
}

.nav--login-button:hover {
    background-color: #FF4246;
}

.nav--signup-button:hover {
    background-color: #FF5A5F;
    color: white;
} 